name: Deploy Dist

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Show Folder Structure
        run: ls -R

      - name: Install Dependencies
        run: |
          cd starter-code-cicd
          npm ci

      - name: Run Tests
        run: |
          cd starter-code-cicd
          npm run test
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Show Folder Structure
        run: ls -R

      - name: Install Dependencies
        run: |
          cd starter-code-cicd
          npm ci

      - name: Build project
        run: npm run build
      
      - name: Deploy
        run: echo "Deploy Successfully"